<center>
<div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>UUID</th>
      <th></th>
    </tr>
  </thead>
  <% @device.each do |device|%>
    <tr>
      <td><%= device.name %></td>
      <td><%= device.address %></td>
      <td><%= device.uuid %></td>
      <td><%= link_to 'Show', user_device_path(device.user_id, device.id), class: "btn btn-success" %>
          <%= link_to 'Edit', edit_user_device_path(device.user_id, device.id), class: "btn btn-info" %>
          <%= link_to 'Destroy', user_device_path(device.user_id, device.id),
               method: :delete, class: "btn btn-danger",
               data: { confirm: 'ksi pero no' } %>
      </td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'New Device', new_user_device_path, class: "btn btn-primary"%><br>
<%= link_to 'Back', user_path(current_user), class:"btn btn-outline-primary" %>
<br>
</div>
<br>
</center>
