<center>
<div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Devices</th>
      <th></th>
    </tr>
  </thead>
  <% @users_all.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.devices.count %></td>
      <td><%= link_to 'Show', user_path(user), class: "btn btn-success" %>
          <%= link_to 'Edit', edit_user_path(user), class: "btn btn-info" %>
          <%= link_to 'Destroy', user_path(user),
               method: :delete, class: "btn btn-danger",
               data: { confirm: 'Are you sure delete this User?' } %>
      </td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'New User', new_user_path, class: "btn btn-primary"%><br>
<br>
</div>
<br>
</center>
